<% commentlist.each do |i,comment| %>
<div class="media my-5">
    <div class="media-body">
        <h5 class="mt-0 font-weight-bold"><%= comment["commentName"] %></h5>
        <%= comment["commentText"] %>
    </div>
</div>
<% end %>