<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>RBCMS - ログイン</title>
    </head>
    <body>
        <div id="app" class="bg-light" style="height:100vh;width:100vw;overflow:hidden;">
            
            <div class="row d-flex justify-content-center align-items-center h-100 w-100">
                <section class="col-5 text-center bg-light rounded">
                    <h3>RBCMS</h3>
                    <small class="text-secondary">{{topMessage}}</small>

                    <hr>

                    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert" v-show="alert">
                        <strong>エラー</strong> : {{alert}}
                    </div>

                    <div class="form-group" v-show="!loginFlag">
                        <label for="USERNAME">ユーザー名</label>
                        <small class="text-danger" v-if="messageUsername">{{messageUsername}}</small>
                        <input type="text" id="USERNAME" class="form-control text-center" placeholder="ユーザー名を入力" v-model="username" />
                        <small class="form-text text-muted text-secondary"></small>
                    </div>

                    <div class="form-group" v-show="!loginFlag">
                        <label for="PASSWORD">パスワード</label>
                        <small class="text-danger" v-if="messagePassword">{{messagePassword}}</small>
                        <input type="password" id="PASSWORD" class="form-control text-center" placeholder="パスワードを入力" v-model="password" />
                        <small class="form-text text-muted text-secondary"></small>
                    </div>

                    <a href="javascript:void(0)" class="btn btn-primary form-control" target="" v-on:click="login" v-show="!loginFlag">ログイン</a>
                </section>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>

            let app = new Vue ({

                el: "#app",

                data: {

                    username: "",
                    password: "",

                    alert: "",

                    topMessage: "ログインのためユーザー名とパスワードを入力して下さい",

                    loginFlag: false,

                    token: "<%= token %>"

                },

                computed: {

                    messageUsername: function () {
                        const regexUsername = new RegExp (/^\w+$/)
                        if (regexUsername.test (this.username)) {
                            return "正しいユーザー名です。"
                        } else if (this.username) {
                            return "正しいユーザー名ではありません。"
                        }
                    },

                    messagePassword: function () {
                        const regexPassword = new RegExp (/^\w{8,30}$/)
                        if (regexPassword.test (this.password)) {
                            return "正しいパスワードです。"
                        } else if (this.password) {
                            return "正しいパスワードではありません。"
                        }
                    }

                },

                methods: {
                    
                    login: function () {
                        const regexUsername = new RegExp (/^\w+$/)
                        const regexPassword = new RegExp (/^\w{8,30}$/)
                        if (regexUsername.test (this.username) && regexPassword.test (this.password)) {
                            this.topMessage = "ログインしています・・・画面がこのまま変わらない場合はもう一度お試しください。"
                            this.loginFlag = true
                            try {
                                var that = this
                                var xhr = new XMLHttpRequest ()
                                var postdata = "username=" + this.username + "&password=" + this.password + "&token=" + this.token
                                xhr.onreadystatechange = function () {
                                    var READYSTATE_COMPLETED = 4
                                    var HTTP_STATUS_OK = 200
                                    var HTTP_STATUS_FAIL = 400
                                    if (this.readyState == READYSTATE_COMPLETED && this.status == HTTP_STATUS_OK) {
                                        location.href = '/admin'
                                    } else if (this.readyState == READYSTATE_COMPLETED && this.status == HTTP_STATUS_FAIL) {
                                        that.alert = "ユーザー名かパスワードが正しくありません。ログインに失敗しました。もう一度お試しください。"
                                    }
                                }
                                xhr.open ("POST","/admin/login",true)
                                xhr.setRequestHeader ("Content-Type","application/x-www-form-urlencoded")
                                xhr.send (postdata)
                            } catch (exception) {
                                console.log (exception)
                            }
                        } else {
                            this.alert = "正しいユーザー名とパスワードを入力して下さい。"
                        }
                    }

                }

            })

        </script>
    </body>
</html>