<form class="form-inline">
    <input id=searchBox class="form-control mr-sm-2" type="search" placeholder="キーワードを検索" aria-label="キーワードを検索">
    <a id="searchButton" class="btn btn-outline-success my-2 my-sm-0 text-success">検索</a>
</form>