version: '3'

services:
    dbrb:
        image: mysql:5.7
        container_name: dbrb
        hostname: dbrb
        volumes:
            - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
            - ./db/data:/var/lib/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=secret
            - MYSQL_DATABASE=webrb
            - MYSQL_USER=webrb
            - MYSQL_PASSWORD=webrb
        ports:
            - 3306:3306
        command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

    apprb:
        build: ./server
        container_name: apprb
        hostname: apprb
        privileged: true
        environment:
            - COMPOSE_PROJECT_NAME=rbcms
        ports:
            - 8081:80
        volumes:
            - ./server:/home
