version: '3'

services:
    apprb:
        build: ./server
        container_name: apprb
        hostname: apprb
        privileged: true
        environment:
            - COMPOSE_PROJECT_NAME=rbcms
        ports:
            - 8081:80
        volumes:
            - ./server:/home
