<footer class="page-footer font-small bg-dark text-light">

    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5 d-flex justify-content-center align-items-center">
                <div class="mb-5 flex-center">
                    <a href="https://www.facebook.com/profile.php?id=100035294776733" class="text-light" target="_blank"><i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"></i></a>
                    <a href="https://twitter.com/CxYzOMOH6tcH1QQ" class="text-light" target="_blank"><i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"></i></a>
                    <a href="https://github.com/veleno-do" class="text-light" target="_blank"><i class="fab fa-github fa-lg mr-md-5 mr-3 fa-2x"></i></a>
                    <a href="https://hub.docker.com/u/veleno0115" class="text-light" target="_blank"><i class="fab fa-docker fa-lg mr-md-5 mr-3 fa-2x"></i></a>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="footer-copyright text-center py-3">
        <small>© 2020 Copyright: <a href="https://github.com/veleno-do" class="text-light"> https://github.com/veleno-do</a></small>
    </div>
    
</footer>